<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/getPrimes}" th:method="get">
    <label for="pNumber">Please input the wanted boundary:  </label>
    <input type="number" id="pNumber" th:name="pNumber"><br><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset the input">
</form>

<form th:action="@{/resetPrimes}" th:method="get">
    <input type="submit" value="Reset out the output">
</form>

<span th:if="${primes==null}">Input a number and we will show all primes within the boundary</span>
<span th:if="${primes!=null}" th:text="${primes}"></span>

</body>
</html>